* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

body {
  background-color: #282726;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  padding: 7rem;
}

/** Header section */

header {
  color: #f9f4da;
  font-size: 2rem;
  max-width: 350px;
}

header h1 {
  text-wrap: nowrap;
  margin-bottom: 0.4rem;
}

header span {
  color: #8e8e8e;
  font-size: 1.4rem;
}

/** Languages section  */
.lang-block {
  background-color: #e2680f;
  height: 25px;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  position: relative;
}

.lost::before {
  content: "💀";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lang-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 0.15rem;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
}

/** Random word block  */
.rand-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #f9f4da;
  background-color: #323232;
  font-size: 1.8rem;
  height: 4rem;
  width: 4rem;
  border-bottom: 2px solid #f9f4da;
}

.not-guessed {
  display: none;
}

.rand-section {
  display: flex;
  gap: 0.2rem;
}

/** letters section  */
.letter-block {
  height: 4rem;
  width: 4rem;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  color: #1E1E1E;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.right {
  background-color: #10A95B;
}

.wrong {
  background-color: #EC5D49;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  max-width: 48rem;
}

/** Game state section  */
.game-state {
  height: 60px;
  width: 350px;
  padding: 6px;
  color: #F9F4DA;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-state h2 {
  font-size: 2rem;
}

.game-state p {
  font-size: 1.6rem;
}

button {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  outline: none;
  color: #1E1E1E;
  width: 22.8rem;
  height: 4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}