* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

body {
  background-color: #282726;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  padding: 7rem;
}

/** Header section */

header {
  color: #f9f4da;
  font-size: 2rem;
  max-width: 350px;
}

header h1 {
  text-wrap: nowrap;
  margin-bottom: 0.4rem;
}

header span {
  color: #8e8e8e;
  font-size: 1.4rem;
}

/** Languages section  */
.lang-block {
  background-color: #E2680F;
  height: 25px;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
}